doctype html
html(lang = 'en')

  head

    meta(http-equiv = 'x-ua-compatible' content = 'ie=edge')
    meta(charset='utf-8')
    meta(name = 'viewport' content = 'width=device-width initial-scale=1')

    title varg.dev

    meta(name = 'robots' content = 'noindex')

    link(rel = 'stylesheet' href = 'css/styles.css')


  body.py-4


    section.container#title
      header
        .row.text-center
          .col
            //- img(src = 'img/varg-logo.svg' width = '88pt').img-fluid
            img(src = 'img/varg-logo-v1.png' width = '192pt').img-fluid
        .row.text-center
          .col
            h1.mt-5 #[strong.font-weight-bold varg.dev]&thinsp;&mdash;&thinsp;Visual Analytics Research Group


    section.container

      .row
        .col-12
          p We (#[strong varg]) are a focus group of the #[a(href = 'https://hpi.de/doellner/home.html') Computer Graphics Systems Group] based in Germany, at the #[a(href = 'https://hpi.de/') Hasso Plattner Institute], Faculty for Digital Engineering, University of Potsdam.

          p This website aggregates early prototypes or results of our ongoing research, latest visualizations, APIs, pictures and videos, as well as further resources. It serves to facilitate research collaboration and streamline (at least a little bit) development of research prototypes. Please note that some of the visualizations and APIs are shared in an as-early-as-possible, work-in-progress, bug-infested stage for internal review and discussion. In order to access the varg-api, please request access rights by contacting #[a(href = 'mailto:admin@varg.dev') admin@varg.dev].

          p Please explore, evaluate, test, and #[a(href = 'mailto:feedback@varg.dev') share your feedback with us]. Our previously published work is usually referenced at #[a(href = 'https://www.researchgate.net/project/Information-Cartography') Information Cartography on ResearchGate].


    section.container#visualizations

      .row.text-center
        .col-12
          h2 Real-Time Visualization

      .row

        each visualization, index in VISUALIZATIONS
          .col-xs-12.col-sm-6.col-lg-4.my-2
            .embed-responsive.embed-responsive-4by3

              if visualization.pending

                img(src= `img/vis-${visualization.target}.webp` id = `thumbnail-${visualization.target}`).embed-responsive-item.thumbnail.pending
                .vis-btn-group.disabled
                  button(type = 'button' disabled).btn.btn-sm.btn-dark.mr-2 Implementation pending

              else
                img(src= `img/vis-${visualization.target}.webp` id = `thumbnail-${visualization.target}`).embed-responsive-item.thumbnail

                .vis-btn-group
                  each branch in visualization.branches
                    button(type = 'button').btn.btn-sm.btn-dark.mr-2 #{branch.name}


            h3.mt-4 &#x2002; #[span.font-weight-bold #{visualization.title}] Visualization
            p #{visualization.caption}


    section.container

      .row.text-center
        .col-12
          h2 Analytics API

          img(src= `img/varg-api-overview.png`).embed-responsive-item.thumbnail.pending


    section.container

      .row.text-center
        .col-12
          h2 Ongoing Research

      .row
        .col-12
          p all of our ongoing paper ideas - title and main authors
          p all of our published papers ... linked to our preferred sites
          p Related Work - A big bibtex file?


    section.container

      .row.text-center
        .col-12
          h2 Media - Pictures &amp; Videos

      .row
        each image in MEDIA
          .col-sm-6.col-lg-4.mb-4
            .card #[img(src = `${image}` role = 'img').card-img-top]


    section.container

      .row.text-center
        .col-12
          h2 Resources

      .row
        .col-12
          p links to our and other open-source projects: analytics, frameworks, rendering, visualizations, inspiration


    section.container

      footer.my-5.text-center
        small
          | &copy; #{new Date().getFullYear()} #[a(href = 'https://varg.dev') varg.dev] &thinsp; All rights reserved.


    script(src = 'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity = 'sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin = 'anonymous')
    script(src = 'https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js' integrity = 'sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/' crossorigin = 'anonymous')


  //- // not required when webgl-operate is built-in
  //- script(src = 'js/rxjs.umd.min.js')
  //- script(src = 'js/webgl-operate.js')

  //- script(src = 'js/renderlib.js')
  //- script(src = 'js/application.js')
